
@import url('https://fonts.googleapis.com/css?family=Lato:b,l');

html, body {
	position: relative;
	height: 100%;
}

body {
	background: #ffffff;
	font-family: Lato, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
img{
	transition: 0.3s;
}


/*
 *
 *	CSS CAROUSEL
 *
 */
.swiper-container {
	width: 100%;
	height: 457px;
	margin-top: 60px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;		      /* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/* Slide Simples */
.slide-simples {
	width: 93%;
	height: 400px;
}
.slide-wrap{
	width: 93%;
  	height: 400px;
 	 overflow-x: scroll;
}

@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(calc(-182px * 4));
				transform: translateX(calc(-182px * 4));
	}
	100%{
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}

@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(calc(-182px * 4));
				transform: translateX(calc(-182px * 4));
	}
	100%{
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 400px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.slider::before, .slider::after {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 400px;
	position: absolute;
	width: 200px;
	z-index: 2;
	opacity: 0.6;
}
.slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
			transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	-webkit-animation: scroll 40s linear infinite;
			animation: scroll 40s linear infinite;
	display: flex;
	width: calc(400px * 3);
}
.slider .slide {
	height: 100%;
	width: 100%;
}
.slide > img:hover {
	opacity: 0.8;
}
  
/*
 *
 *	CSS DIVS
 *
 */

.remove-margin-bottom{
	margin-bottom: 0px;
}

.grey-text {
	font-size: 15px;
	color: #bdbdbd !important;
	border-top: solid;
    border-width: medium;
    margin-top: 10px;
}
.grey-text:hover {
	color: #1de9b6 !important;
}
.q {
	box-shadow: none !important;
	margin-bottom: 5px;
}
.logoimg {
	width: 230; 
	height: 60;
}
.bgclinica {
	background-image: url("images/bgclinica.png");
}
.a {
	text-align: center;
}
.b {
	font-size: 20px;
	color: #007b8d;
	text-align: center;
	margin-top: -15px;
}
.l {
	margin-top: -13px;
}
.bgespecialidades {
	background-image: url("images/fisioterapia.png");
	width: auto;
	height: auto;
}
.a1 {
	text-align: center;
	color: white;
}
.b1 {
	font-size: 20px;
	text-align: center;
	color: white;
	margin-top: -15px;
}
.tabs .indicator{
    background-color: white; 
}
.espc {
	font-size: 20px;
}
.c {
	color: #93dcd9;
}
.b3 {
	font-size: 20px;
	color: #007b8d;
	margin-bottom: -15px;
}
.bgconsulta {
	background-image: url("images/bgconsulta.png");
	width: auto;
	height: auto;
}
.bgfooter {
	background-color: #2f587c;
}
.a2 {
	text-align: left;
	color: white;
}
.mob {
	background-color: rgba(0, 123, 141,0.6);
	z-index: 800;
	position: fixed;
	width: 100%;
	height: 100%;
	margin-top: 55px;
	display: none;
}
.mob2 {
	border-bottom: solid;
	border-color: white;
	padding-bottom: 10px;
	padding-top: 10px;

}
.mobfont > a {
	font-size: 20px;
	color: white !important;
	text-align: left;
	margin-left: 20px;
}
.hamb {
	display: none;
	color: rgba(0, 123, 141,1);
	position: fixed;
	right: 20;
}

.fixo {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	background-color: white;
}

@media screen and (max-width: 992px) {
 	.hamb {
    display: flex;
	}
	.mob {
		margin-top: 0px;
	}
	.logoimg {
		position: fixed;
		right: 50px;
	}
	.a2 {
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	.logoimg {
		position: fixed;
		right: -50px;
	}
	.a2 {
		text-align: center;
	}
}
.mob > ul {
	width: 100%;
}